*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;

}

section {

    height: 100vh;

    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%; */
}

.nav {
    height: 10vh;

}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    align-items: center;
}


.nav-1::after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    transition: 0.5s;
    background-color: black;
}

.nav-1:hover::after {
    width: 100%;
    transition: 0.5s;
}

ul li:hover ul.dropdawn {
    display: block;

}

.logo {
    position: relative;

}

.dropdawn li .drop:hover {
    color: rgb(58, 34, 101);

}

.navbar {
    background-color: rgb(239, 237, 237);
    display: flex;
    height: 12vh;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 5px solid black;
    text-align: center;
    align-items: center;
}

input {
    position: relative;
    height: 40px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background-color: transparent;
    align-items: center;
    text-align: center;
}
.button-1{
    display: flex;
}

.btn-1  a{
    text-decoration: none;
    color: white;
 }

.btn-1 {
    background-image: linear-gradient(to right,#293b39 0%, #1e9184 51%,#04071a  100%);
    width: 140px;
    height: 40px;
    font-size: 17px;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display:block;    
    border: none;
  }

  .btn-1:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
ul li ul.dropdawn li {
    display: block;
    background: transparent;
    margin: 2px 0px;

}

.drop {
    font-size: 14px;
    color: rgb(27, 27, 24);
    text-align: left;
    line-height: 25px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

ul li ul.dropdawn {
    border: 2px solid black;
    width: 270px;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdawn {
    display: block;

}

.dropdawn li .drop:hover {
    color: rgb(58, 34, 101);
    background-color: none;
}

/* End navbar CSS  */



.img{
    height: 370px;
     background-image: url('Gallery.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;
     color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}
.container .heading{
    width: 50%;
    padding-bottom: 50px;

}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box .dream{
    display: none;
    box-shadow: rgba(0, 0, 0, black);
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 30px;
    border-radius: 5px;

}
@media only screen and(max-width:769px){
    .container.box{
        flex-direction: column;
    }
}
 /* .loadmore1, .loadmore2{
    height: 50px;
    width: 200px;
    font-size: 20px;
    padding: 0px 20px;
    margin: 15px;
}  */
span{ color: #fff;
    background: #009688; 
    height: 100%;
    width:0;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:  -1; 
    transition: 0.5s;  color: white;
}
 .loadmore1, .loadmore2{
    width: 300px;
 
    border: 2px solid cadetblue;
    border-radius: 5px;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: ;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
 
} 
.loadmore1:hover span{
    width: 100%; 
 } 
.loadmore2:hover span{
    width: 100%; 
}
.loadmore1:hover{
    border: none;
     color: white;
}
.loadmore2:hover{
    border: none;
     color: white;
}
/* start footer  */
.footer-1 {
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}
.footer-1 h2{
    font-size: 30px;
    color: #bdbdbd;
}
.icons {
    position: relative;
    top: 50px;
    color: #a29898;
    display: table-column-group;
    margin-left: 30px;
    align-items: center;
}
.fab,
.fas,
 .fa-solid,
.fa-brands{
    text-decoration: none;
    color:#cec6c6;
    height: 30px;
    width: 30px;
    font-size: 20px;
}
.fab:hover ,.fa-brands:hover{
    color: rgb(216, 199, 100);
}
.footer-bottom {
    color: white;
    border-top: 1px solid rgb(23, 22, 22);
    align-items: center;
    text-align: center;
}

.link-2{
    color:#a29898;
    font-size: 15px;
    text-decoration: none;
}
.link-2:hover{
    color:gold;
}
/* scrollTo Top CSS  */
.fa{
    font-size: 30px;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 5px;
    color:white;
    background-color:transparent;
     padding: 8px 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.8s ease 0s;
    background-color:rgba(61, 58, 58, 0.3);
    width: 50px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    border-radius:10px ;
}
.fa:hover{
    background-color:transparent;
    color: #009688;
}

/* Footer End  */